@{
    ViewBag.Title = "location";
}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nkCNTH7FGp8OmGyHACrsaZIUlBjuY9TA"></script>

<style type="text/css">
    .container .demo {
        text-align: center;
    }

        .container .demo div {
            padding: 8px 0;
        }

            .container .demo div:nth-child(odd) {
                color: #FFFFFF;
                background: #CCCCCC;
            }

            .container .demo div:nth-child(even) {
                color: #FFFFFF;
                background: #979797;
            }
</style>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="logo" class="fl_left">
            <h1><a href="index.html">Coffee Shop</a></h1>
        </div>
        <div class="fl_right">
            <ul class="inline">
                <li> +123 456 789</li>
                <li>coffeelove@outlook.com</li>
                <audio id="myAudio" src="~/Content/music.mp3" loop></audio>
                <li><button onmouseover="playOrPauseAudio()">music</button></li>
            </ul>
        </div>
    </header>
</div>

<div class="wrapper row2">
    <nav id="mainav" class="clear">
        <ul class="clear">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>
                <a class="drop" href="#">Pages</a>
                <ul>
                    <li class="active">@Html.ActionLink("Location", "location", "Home")</li>
                    <li>@Html.ActionLink("Promotion", "Promotion", "Home")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Product", "product", "Home")</li>
            <li>@Html.ActionLink("Contact", "contact", "Home")</li>
            <li>@Html.ActionLink("Custom", "Index", "Custom")</li>
            <li>@Html.ActionLink("Area", "Index", "Area")</li>
        </ul>
    </nav>
</div>

<div class="wrapper row3">
    <main class="container clear">
        <div class="content">
            <h2>Map</h2>
            <div id="map" style="width: 100%; height: 400px;"></div>
            <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=nkCNTH7FGp8OmGyHACrsaZIUlBjuY9TA"></script>
            <script>
                var map = new BMap.Map("map");
                var point = new BMap.Point(117.22049, 39.11207);
                map.centerAndZoom(point, 15);
                var marker = new BMap.Marker(point);
                map.addOverlay(marker);
            </script>
            <br>
            <h2>Half</h2>
            <div class="group btmspace-50 demo">
                <div class="one_half first">1/2</div>
                <div class="one_half">1/2</div>
            </div>
        </div>
    </main>
</div>

<div class="wrapper row4">
    <footer id="footer" class="clear">
        <div class="one_quarter first">
            <h6 class="title">Company Details</h6>
            <address class="btmspace-15">
                Coffee Shop<br>
                Street Name &amp; Number<br>
                Town<br>
                Postcode/Zip
            </address>
            <ul class="nospace">
                <li class="btmspace-10"><span class="fa fa-phone"></span> +123 456 789</li>
                <li><span class="fa fa-envelope-o"></span><a href="mailto:coffeelove@outlook.com" target="_blank">coffeelove@outlook.com</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Quick Links</h6>
            <ul class="nospace linklist">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Ordering</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Business Hours</h6>
            <article>
                <h2 class="nospace"><a href="#">Legal Working Day</a></h2>
                <div><p>Monday to Firday 8am to 9pm</p></div>
                <p>If there are special circumstances, advance notice will be given</p>
            </article>
        </div>
        <div class="one_quarter">
            <h6 class="title">Keep In Touch</h6>
            <form class="btmspace-30" method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                </fieldset>
            </form>
            <a href="https://jigsaw.w3.org/css-validator/" target="_blank">HTML5 & CSS3 validators</a>
        </div>
    </footer>
</div>